#blight {
    background-image: none;
    background: rgb(188, 187, 209);
    background: linear-gradient(90deg, rgba(188, 187, 209, 1) 0%, rgba(177, 164, 230, 1) 24%, rgba(192, 182, 231, 1) 74%, rgba(224, 213, 236, 1) 100%);
    height: 100vh;

    height: 100vh;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding: 0;
    font-size: 1rem;
    color: #000;
    max-width: 100vw;
}



a {
    text-decoration: none;
    color: #000;
}

nav, ul, li, li a {
    color: #000;
    border: #000;

}